*{
    /* color: white !important; */
    font-family: "Merriweather", monospace;
    letter-spacing: 1px; 
}

.title{
  font-weight: 800;
  font-style: normal;
  font-family: "Merriweather", monospace;
}

.bold{
  font-weight: 600;
  font-style: normal;
}
.nav-link:hover{
    cursor: pointer;
}

.navbar {
    background-color: rgba(122, 122, 122, 0.408) !important; /* Полупрозрачный чёрный фон */
    position: fixed; /* Фиксируем навбар */
    box-shadow: #505050 0px 0px 15px;
    border: none;
    top: 0;
    width: 100%;
    font-weight: 700;
    z-index: 1000; /* Поднимаем навбар над другими элементами */
    backdrop-filter: blur(5px); /* Добавляем небольшое размытие фона */
    color: white;
}
.body {
    position: relative; /* Добавлено для управления z-index */
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(255, 31, 68), rgb(98, 0, 255), rgb(0, 191, 255));
    z-index: 1; /* Фон ниже */
}

.text-success {
    color: white !important;
    font-weight: 700 !important;
}

.image-container {
    position: relative;
    width: 100%;
  }
  
  .img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .overlay-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Тень для текста */
    text-align: center;
  }
  .overlay-text-form {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Тень для текста */
    text-align: center;
  }



.image-container {
    position: absolute; /* Изменено для наложения */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Изображение выше фона */
}

.fs-1 {
    color: white;
    font-size: 4rem !important;
    font-weight: 700 !important;
}

.background{
    background: #01334e;
    height: 60% !important;
}
.background-tickets{
    background: #000200 linear-gradient(180deg, #000200 0%, #000200 5%, #034d6c 50%, #2cbbc5 90%, #ffffff 100%);
    height: 60% !important;
}

.color-text-white{
    color: white;
}

/* styles.css */

  
  .background {
    min-height: 400px; /* Увеличивает высоту контейнера с текстом */
  }
  
  .btn-primary{
    background-color: #01517d !important;
    border: none;
  }

  .btn-primary:hover{
    background-color: #01334e !important;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;    
  font-size: 16px; /* Установите желаемый размер */
  margin-left: 8px; 
}

.btn-center{
  margin: 0 auto;
}

.top{
    margin-top: 2%; ;
}

.container{
  background: transparent !important;
}

.btn-danger{
  background-color: #db3b3b !important;
  border: none;
}

.background-animals{
  background: #ec7f53 linear-gradient(180deg, #ff8758 90%, #ffffff 100%);
  height: 60% !important;
}

h-100{
  height: 100vh !important;
  
}

.back-animal-text{
  background-color: #e288617a !important;
}